// Sans-serif
@mixin font-sans-serif() {
  font-family: Arial, sans-serif;
  line-height: 1.4;
}

// Serif
@mixin font-serif() {
  font-family: Georgia, serif;
  line-height: 1.4;
}

// Mapping
@mixin font-heading() {

  @include font-sans-serif;
  @include rem-font-lock(2.6rem, 10px, $bp-xs, $bp-m);  
}

@mixin font-heading-minor() {

  @include font-sans-serif();
  @include rem-font-lock(2rem, 8px, $bp-xs, $bp-m);
}

@mixin font-copy() {

  @include font-serif;
  @include rem-font-lock(1.8rem, 6px, $bp-xs, $bp-m);
}
