// colors
$color-white: #ffffff;

// viewport-width sizes (breakpoints)
$bp-xs: 320px;
$bp-s: 485px;
$bp-m: 768px;
$bp-l: 1024px;

// vertical spacings
$vsp-s-min: 5px;
$vsp-s-max: 10px;
$vsp-m-min: 15px;
$vsp-m-max: 30px;
$vsp-l-min: 45px;
$vsp-l-max: 90px;

// horizontal inset spacing
$hsp-min: 15px;
$hsp-max: 30px;
