// colors
$color-white: #ffffff;
$color-fjord: #3b4f64;
$color-thunder: #231f20;

// color mapping & scheme targeting
:root {
  --color-background: #{$color-white}, ;
  --color-text: #{$color-thunder};
  --color-link: #{$color-fjord};
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #{$color-thunder};
    --color-text: #{$color-white};
  }
}

$color-background: var(--color-background, #{$color-white});
$color-text: var(--color-text, #{$color-thunder});
$color-link: var(--color-link, #{$color-fjord});

// viewport-width sizes (breakpoints)
$bp-xs: 320px;
$bp-s: 375px;
$bp-m: 768px;
$bp-l: 1024px;

// maximum content width
$content-max-width: 768px;

// vertical spacings
$vsp-s-min: 5px;
$vsp-s-max: 10px;
$vsp-m-min: 20px;
$vsp-m-max: 40px;
$vsp-l-min: 30px;
$vsp-l-max: 60px;
$vsp-xl-min: 40px;
$vsp-xl-max: 80px;

// horizontal inset spacing
$hsp-min: 15px;
$hsp-max: 80px;

// aspect ratio based sizings
$ratio-gr: 1.618;